<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment4.Properties.Settings.DollarComputerConnectionString"
            connectionString="Data Source=comp1004dollarcomputer.database.windows.net;Initial Catalog=DollarComputer;User ID=maheshmahesh;Password=Mahesh1997"
            providerName="System.Data.SqlClient" />
        <add name="Assignment4.Properties.Settings.dollarComputerConnectionString1"
            connectionString="Data Source=comp1004-dollarcomputer.database.windows.net;Initial Catalog=dollarComputer;Persist Security Info=True;User ID=manthanbhalla;Password=Manthan_bhalla0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>